<br>
<div class="row">
<div class="col">
	<div class="col-md">
		<div class="card text-center text-dark  mb-3" id="total-dept">
			  <div class="card-header">
				  <h5 class="card-title">Manager Name</h5>
			  </div>
			  <div class="card-body">
				<h3 class="card-title text-capitalize">{{request.user}}</h3>
			  </div>
		</div>
	</div>
</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="total-hospitals">
			  	<div class="card-header">
			  		<h5 class="card-title">Bookings</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">
					{% for t in total_booking %}
						{{t}}
					{% endfor %}
						</h3>
			  	</div>
			</div>
		</div>
	</div>




	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="total-dept">
			  	<div class="card-header">
			  		<h5 class="card-title">Doctors</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_doctors}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>